---
layout: handbook-page-toc
title: "Contributor Success Career Framework: Staff Fullstack Engineer"
description: "These are the expected competencies of a Staff Fullstack Engineer, Contributor Success at GitLab."
---

## On this page
{:.no_toc .hidden-md .hidden-lg}

- TOC
{:toc .hidden-md .hidden-lg}

## Staff Fullstack Engineer, Contributor Success

<%= partial("handbook/marketing/career-development/matrix/marketing/community-relations/contributor-success/cs_career_matrix_nav.erb") %>

**Staff Fullstack Engineers, Contributor Success at GitLab are expected to exhibit the following competencies:**

* [Leadership Competencies](#leadership-competencies)
* [Technical Competencies](#technical-competencies)
* [Values Alignment](#values-alignment)

---

### Leadership Competencies

<%= partial("handbook/engineering/career-development/matrix/engineering/engineering_staff_leadership_competency.erb") %>

### Technical Competencies

<%= partial("handbook/engineering/career-development/matrix/engineering/engineering_staff_technical_competency.erb") %>

##### Contributor Success

Please refer to [Staff Contributor Success Fullstack Engineer](https://about.gitlab.com/job-families/marketing/community-relations/contributor-success/fullstack-engineer/#staff-contributor-success-fullstack-engineer)

### Values Alignment

<%= partial("handbook/engineering/career-development/matrix/engineering/values_competency.erb") %>
