---
title: "ML experiment: Writing SQL is about to get a lot easier"
author: Taylor McCaslin
author_gitlab: tmccaslin
author_twitter: digital_saas
categories: DevSecOps platform
posttype: product
tags: DevOps, product, features, AI/ML
description: "Learn how GitLab is experimenting with ML-powered product features in this third installment of our ongoing AI/ML in DevSecOps series."
image_title: /images/blogimages/gitlab-data-science-icon.png
featured: yes
twitter_text: "Forget having to be an SQL wizard. Learn how @gitlab is experimenting with ML-powered product features that help generate SQL."
---

<i>This blog is the third post in an ongoing series about GitLab’s journey to build and integrate AI/ML into our DevSecOps platform. The first blog post can be found [here](/blog/2023/03/16/what-the-ml-ai/). Throughout the series, we’ll feature blogs from our product, engineering, and UX teams to showcase how we’re [infusing AI/ML into GitLab](/blog/tags.html#AI/ML).</i>

SQL, the structured query language, has long been the backbone of data analysis and manipulation. But let's face it, not everyone is an SQL wizard. For many, writing even a simple SQL query can be a daunting task, let alone tackling more advanced queries. Even experienced data analysts spend lots of time and effort writing and debugging complex queries just to answer simple business intelligence questions.

With the recent advancements in AI and natural language processing, it's now possible for AI models to generate SQL code from simple English language queries. This means that even people without a deep understanding of SQL can generate complex queries to analyze their data. This technology not only improves accessibility but can also save valuable time and effort for data analysts.

## AI Assisted SQL generation
At GitLab, we’re experimenting with AI Assisted SQL generation in our [Product Analytics group](https://docs.gitlab.com/ee/user/product_analytics/). This area is focused on helping users understand and gain insights from usage patterns. GitLab Product Analytics can track events within your project applications, which enables you to explore your data and generate dashboards with interactive graphs and charts. You can use our visual designer or YAML to define them, and we envision it becoming even easier with AI assistance. You can learn more about our Product Analytics plans in our [sneak peek blog post](/blog/2023/03/27/introducing-product-analytics-in-gitlab/).

In a simple experiment, our own [Tim Zallmann](https://gitlab.com/timzallmann), Senior Director of Engineering, prototyped leveraging AI-generated queries from simple natural language parsing. The results quickly showcase how powerful using natural language can be to help generate the SQL to populate the Product Analytics dashboards. 

![Animated gif image of SQL generation](/images/blogimages/sql-query-generation-lg.gif){: .shadow}

Above, you can see an example of how we're using natural language to generate SQL queries to power dashboard charts and graphs. You can watch the full demo in the video below. 

<figure class="video_container">
  <iframe src="https://www.youtube-nocookie.com/embed/q3HZy0P0ugw" frameborder="0" allowfullscreen="true"> </iframe>
</figure>


## Iterating on AI/ML features
While just an experiment today, we are iterating on how to effectively bring features like this to our customers. This experiment is just the start of many ways we’re looking to infuse GitLab with AI/ML capabilities to help GitLab users become more efficient and effective at their jobs. We are [looking across the software development lifecycle](/blog/2023/03/16/what-the-ml-ai/) for painful and time-consuming tasks that are ideal for AI Assisted features. We’ll be sharing more of these demos in this blog series.

Interested in using these AI-generated features? [Join our waitlist](https://forms.gle/9eeUkPJauKsbLaoz5) and share your ideas. 

_Disclaimer: This blog contains information related to upcoming products, features, and functionality. It is important to note that the information in this blog post is for informational purposes only. Please do not rely on this information for purchasing or planning purposes. As with all projects, the items mentioned in this blog and linked pages are subject to change or delay. The development, release, and timing of any products, features, or functionality remain at the sole discretion of GitLab._
